{% extends "../base.html" %}
{% load static %}

{% block header_edits %}
<script src="{% static '/feedbackapp/timeframe_handler.js' %}"></script>
<script src="{% static '/feedbackapp/ui_interactions.js' %}"></script>
{% endblock %}
{% block content %}
<!-- dropdown date range picker -->
<h2 class="d-inline">feedback reports</h2>
<div class="d-inline float-end">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="daterangedropdown" data-bs-toggle="dropdown" aria-expanded="false">
    select date range
  </button>
  <div class="dropdown-menu p-3" style="min-width: 250px;">
    <div class="mb-3">
      <label for="start_date" class="form-label">start date</label>
      <input type="date" class="form-control" id="start_date" name="start" required>
    </div>
    <div class="mb-3">
      <label for="end_date" class="form-label">end date</label>
      <input type="date" class="form-control" id="end_date" name="end" required>
    </div>
    <button type="submit" class="btn btn-primary w-100" onclick="renderDashboard()">Apply</button>
  </div>
</div>

<div class="summary-cards">
  <div class="card">
    <h3>Total Reviews</h3>
    <p id="total_reviews"></p>
  </div>
  <div class="card">
    <h3>Average Overall Ratings</h3>
    <p id="avg_rating"></p>
  </div>
  <div class="card">
    <h3>Recommendation Rate</h3>
    <p id="recommendation_rate"></p>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Ratings Summary</h3>
      <canvas id="ratings_chart"></canvas>
    </div>
    <div class="col">
      <h3>Performance Report</h3>
      <canvas id="category_chart"></canvas>
    </div>
  </div>
</div>

<h3>Monthly Reviews</h3>
{% include "./filtering.html" %}
<table id="feedback_table">
</table>
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h5>Ratings</h5>
          <div>
            <p class="lead"><strong id="overallRating"></strong></p>
          </div>
          <div>
            <p><strong id="foodRating"></strong></p>
          </div>
          <div>
            <p><strong id="cleanlinessRating"></strong></p>
          </div>
          <div>
            <p><strong id="serviceRating"></strong></p>
          </div>
          <div>
            <p><strong id="ambienceRating"></strong></p>
          </div>
          <div id="commentSection">
            <hr>
            <h5>Comment:</h5>
            <p id="feedbackComment"></p>
          </div>
          <div id="suggestionsSection">
            <hr>
            <h5>Suggestions:</h5>
            <p id="feedbackSuggestions">{{ review.suggestions|linebreaksbr }}</p>
          </div>
          <hr>
          <p id="recommendation">
            <!--
            <strong class="text-success">Would Recommend</strong>
            <strong class="text-danger">Would NOT Recommend</strong>
            --!>
          </p>
      </div>
    </div>
  </div>
</div>
<!-- TODO: chart data needs to be renered on client side, and based on data in table. 
       this means the script tags need to move to ui_interactions where the chart is rendered.

<script>
  const chartData = {{ chart_data_json|safe }};
  const ctx = document.getElementById('ratingsChart').getContext('2d');
  new Chart(ctx, {
      type: 'bar',
      data: {
          labels: chartData.labels,
          datasets: chartData.datasets
      },
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  max: 5
              }
          }
      }
  });
  new DataTable('#reviewTable');
</script>

<script>
  const countData = {{ bar_chart_data_json|safe }};
  const ctx2 = document.getElementById('ratingCountChart').getContext('2d');
  new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: countData.labels,
          datasets: countData.datasets
      },
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  precision: 0
              }
          }
      }
  });
</script>


</body>
</html>
--!>
{% include "./feedback_modals.html" %}
{% endblock %}

